* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;  
  }

header h1 {
    width: 55%;
    text-align: center;
    padding-top: 5%;
    font-size: 3.75rem;
   
  
}

header {
    color: red;
    padding: 0 10px 10px 10px;
    font-family: 'Cinzel', serif;
    display: flex;
   
    
}


nav ul {
  width: 10%;
  float: left;
  list-style-type: none;
  margin: 0 1%;
  padding: 0;
  text-align: center;
  font-family: 'Cinzel', serif;

}

nav ul li {
  padding: 15px;
  
}
nav ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  color: black;
  
}

nav ul li a:hover { 
  background: black;
  color:white;
  text-align: center;
}

.flex {
  display: flex;
}

.avatar {
  display: flex;
  width:200px;
  height: 200px;
}


@media screen and (max-width: 980px) {
  
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 640px) {
  nav ul {
    float: none;
    margin: 0 auto;
    width:100%
  }
  nav ul li a {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  body {
    background: white;
  }

}
