body {
    background-image: url("DobermanWebsite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

section {
    position: absolute;
    left: 650px;
    top: 200px;
    width: 50%;
}
section p {
    font-size: 24px;
    text-indent: 25px;
}