* {
    box-sizing: border-box;
}

#wrapper {
    width: 50%;
    position: absolute;
    left: 200px;
    margin-top:1%;
    font-family: 'Source Code Pro', monospace;
}

.title {
    text-align: center;
    width: 100%;
   
}

div p {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    
}

img {
    width: 200px;
    text-align: center;
    
}

div a {
    text-decoration: none;
}

#grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 0 100px;
}

.grid-box {
    text-align: center;
    
}

.re-size {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 980px) {
    nav ul li a {
      float: none;
      width: 100%;
      clear: both;
    }
    div h1 {
        width: 100%;
        clear: both;
      }
    
  }
  @media screen and (max-width: 768px) {
    nav ul li a {
      float: none;
      width: 100%;
      clear: both;
    }
    div h1 {
        width: 100%;
        clear: both;
      }

  }
  @media screen and (max-width: 640px) {
    nav ul li a {
      float: none;
      width: 100%;
      clear: both;
    }
    div h1 {
        width: 100%;
        clear: both;
      }
    #grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
        margin: 0;
      }
    

  }
  