
section {
    width: 900px;
    height:auto;
    margin: 80px auto;
    background-color: rgba(0, 0, 0, 0.25);
}

section h2 {
    text-align: center;
    color: #4aaaa5;
    font-family: "Inconsolata", "Monospace", Helvetica, sans-serif;
    font-size: 32px;
}

input {
    width: 75%;
    margin: 0 120px 10px 120px;
    color: #b2a69d;
}

form p {
    margin: 0 120px 0 120px;
    color: #b2a69d;
}

textarea {
    width: 75%;
    margin: 0 120px 10px 120px;
    color: #b2a69d;
}

.submit {
    width:25%;
    padding: 10px;
    margin: 0 360px 10px 360px;
    background-color: #4aaaa5;
    color: white;
}