
section {
    width: 960px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 75px auto;
    padding: 20px;
}

section h2 {
    color:#4aaaa5;
    padding: 30px 0 0 30px;
    text-align: center;
    font-family: "Inconsolata", "Monospace", Helvetica, sans-serif;
}

section article img {
    border-radius: 75px;
    position: relative;
    bottom: 15px;
    margin: 10px;
    float:left;
}

section article p {
    text-indent: 25px;
    line-height: 2;
    margin: 10px;
    color: white;
}
