button,
div,
form,
input {
  margin: 10px;
}

.container {
    text-align: center;
}

.right {
  text-align: right;
}

#searches-view {
  width: 1500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
}