button,
div,
form,
input {
  margin: 10px;
}

body {
  background: black;
  color: purple;
}

button {
  padding: 5px;
  width:100px;
}

img {
  height: 200px;
  width: 250px;
  border: 1px solid grey;
}

.container {
    text-align: center;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
  display: inline;
}

#searches-view {
  width: 1500px;
  margin: 0 auto;
  text-align: center;
}