.display-3, .lead {
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}



form {
    width: 95%;
    margin: 0 auto;
}



