section {
    width: 50%;
    margin-left: 50px;
    float: left;
    padding: 15px;
    
  }

  section h2 {
    text-align: center;
  }

  section p {
    line-height: 30px;
    text-indent: 50px;
    text-align: justify;
  }

  @media screen and (max-width: 980px) {
    section {
      float: none;
      width: 100%;
      clear: both;
    }
  }
  @media screen and (max-width: 768px) {
    section {
      float: none;
      width: 100%;
      clear: both;
    }
    
  }
  @media screen and (max-width: 640px) {
    section {
      float: none;
      width: 100%;
      clear: both;
    }

  }
