body {
    background-image: url("../Images/profileavatar.jpg");
    background-repeat: no-repeat;
    background-position: fixed; 
}

nav {
    width: 70%;
    float: right;
    position: absolute;
    left: 350px;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float:right;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    bottom: 200px;
    
}
header h2 {
    width: 30%;
    float: left;
    position: absolute;
    padding-left:25px;
}

header {
    border: 1px solid white;
}
