
#wrapper {
    overflow-x: auto;
    margin-top: 200px;
}

table {
    margin: 0 auto;
}

table tr td {
    padding-right: 50px;
    text-align: center;
}

table tr td a {
    text-decoration: none;
}
figcaption {
    color:white;
    
}

@media screen and (max-width: 980px) {

}


@media screen and (min-width: 768px) {

}

@media screen and (max-width: 640px) {
 
}